<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{url_for('static',filename='styles/index.css')}}">
    <title>pagina principal</title>
</head>
<body>
    <form action="/post/mensagem" method="post">
        <label for="user">Usuario</label>
        <input type="text" name="user" id="user">
        <label for="comment">Comentario</label>
        <textarea name="comment" id="comment" cols="30" rows="8"></textarea>
        <button type="submit">Enviar</button>
    </form>

    <div>
        <h1>Comentários</h1>
        {%for mensagem in mensagens%}
        <div class="comentario">
            <p>{{mensagem.nome}}   {{mensagem.data_hora}}</p>
            <p>{{mensagem.comentario}}</p>
            <p>likes: {{mensagem.curtidas}}</p>
            <p><a href="/deletar/mensagem/{{mensagem.cod_comentario}}">Deletar</a> <a href="/put/mensagem/curtida/{{mensagem.cod_comentario}}">Curtir</a> <a href="/put/mensagem/descurtida/{{mensagem.cod_comentario}}">Descurtir</a></p>
        </div>
        {%endfor%}
    </div>

</body>
</html>